<div class="messanger-main">
  <div class="messanger-top">
    <div class="messanger-top-indication">
      <span class="messanger-indication"><%= current_user.nickname %>さんのメッセンジャー</span>
    </div>
    <div class="messanger-trim">
      <%= link_to image_tag(current_user.image.variant(resize: '100x100')), user_path(current_user.id), class: :messanger_img if current_user.image.attached? %>
    </div>
  </div>
      
  <div class="mid-object">  
    <div class="friend-list-section">
      <div class="friend-list-block">
        <%= link_to "友達リスト: #{@friend_lists.count}人", user_friend_requests_path(current_user.id), class: "friend-list-indication" %>
      </div>
      <div class="friend-lists-group">
        <% @friend_lists.each do |friend_list| %>
          <% to_from_user = friend_list.select do |x| %>
            <% x != current_user.id %>
          <% end %>
          <% user = User.find_by(id: to_from_user) %>
            <ul class='friend-lists'>
              <li class='friend-list'>
                <div class="image-border">
                  <%= link_to image_tag(user.image.variant(resize: '100x100')), user_path(user.id), class: :friend_list_img if user.image.attached? %>
                </div>
                <div class="friend-list-name">
                  <%= user.nickname %>
                </div>
              </li>
            </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>