<%= form_with model: @post, url: posts_path(@post.id), local: true do |f|%>
  <div class="field">
    <%= f.text_area :text, class: :form__text, placeholder:"思ったことを書きましょう！" %>
  </div>

  <div class="field">
    <%= f.label :post_image, "画像" %><br />
    <%= f.file_field :post_image %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>
<% end %>