<div class="top-posts">
  <div class="top-icon">
     <div class="trim-post"> 
      <%= image_tag post.user.image.variant(resize: '100x100'), class: :topicon_img if post.user.image.attached? %>
    </div>
    <div class="topicon-name">
      <%= post.user.nickname %>
    </div>
  </div>
  <div class="top-post-right">
    <%= image_tag post.post_image.variant(resize: '300x300'), class: :post_img if post.post_image.attached?%><br>
    <%= post.text %>
  </div>
  <div class="icons">
    <div>
      <%= link_to image_tag("comment.jpg", width: '60', alt: "コメントアイコン"), new_post_comment_path(post.id), class: :comment_img %>
    </div>
    <div id="likes_buttons_<%= post.id %>">
    <%= render partial: "likes/like", locals: { post: post } %>
    </div>
  </div>
</div>