<% content_for :header do %>
  
<% end %>

<% if user_signed_in? %>
  <div class="top-indication">
    <div class="trim">
      <%= image_tag current_user.image.variant(resize: '100x100'), class: :trim_image if current_user.image.attached? %>
    </div>
    <div class="balloon-left">
      <%= link_to "思ったことを書きましょう！(投稿はココをクリック)", new_post_path, class: "tweet" %>
    </div>
    <%# <div class="friend_confirmation">
      <%= link_to image_tag("friend_request.png", width: '50', alt: "友達申請確認アイコン"), user_friend_requests_path(current_user.id), class: :friend_confirmation_img %>
    <%# </div> %>
  </div>

  <% posts = @posts.where(user_id: @post_list_users) %>
  <% posts.each do |post| %>
  <div class="top-posts">
    <div class="top-icon">
      <div class="trim-post"> 
        <%= link_to image_tag(post.user.image.variant(resize: '100x100')), user_path(post.user.id), class: :topicon_img if post.user.image.attached? %>
      </div>
      <div class="topicon-name">
        <%= post.user.nickname %>
      </div>
    </div>
    <div class="top-post-right">
      <%= image_tag post.post_image.variant(resize: '300x300'), class: :post_img if post.post_image.attached?%><br>
      <%= post.text %>
    </div>
    <div class="icons">
      <div>
        <%= link_to image_tag("comment.jpg", width: '60', alt: "コメントアイコン"), new_post_comment_path(post.id), class: :comment_img %>
      </div>
      <div id="likes_buttons_<%= post.id %>">
        <%= render partial: "likes/like", locals: { post: post } %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<div class="main-sentences">
  <div class="top1">
    ようこそ、Interactiverへ！！！
  </div>
  <div class="top2">
    Interactiverは、海外で飲食店を経営している方々向けの<br>コミュニティスペースになります。
  </div>
  <div class="top3">
    海外で事業をしていく上での悩みや問題等を共有し、相互に助け合えるような場所になることを目指しております。
  </div>
  <div class="top4">
    興味がある方は、ヘッダーの「<span class="new-account">新規登録</span>」からアカウントを作成して、交流を開始してください。
  </div>
</div>